@charset "UTF-8";
@font-face {
  font-family: "ConcertOne";
  src: url("ConcertOne-Regular.ttf") format("truetype");
}
blockquote {
  color: rgba(255, 255, 255, 0.9);
  font-family: Tahoma, sans-serif;
  font-size: 40px;
  width: 60%;
  margin: 0 auto;
  cursor: pointer;
}

blockquote:hover {
  color: #7bbae7;
}

blockquote h1 {
  font-size: 4rem;
}

blockquote p {
  font-style: italic;
  margin-bottom: 0;
}

blockquote p::before,
blockquote p::after {
  content: "“";
  font-family: Georgia;
  font-size: 8rem;
  margin: -2rem 0 0 -4rem;
  position: absolute;
  opacity: 0.5;
}

blockquote p::after {
  content: "”";
  margin: -1rem -4rem 0 0;
}

blockquote cite {
  font-size: 1.5rem;
}

.crossed {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), black 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%), linear-gradient(to top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), black 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);
}

.half-crossed {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), black 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);
}

.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 75vh solid white;
  border-right: 98.5vw solid transparent;
}

.triangle-topright {
  width: 0;
  height: 0;
  border-top: 75vh solid black;
  border-left: 98.5vw solid transparent;
}

.cursor-pointer {
  cursor: pointer;
}

.a-link-anim-draw {
  color: #000;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  transition: color 0.25s;
}
.a-link-anim-draw::before, .a-link-anim-draw::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.a-link-anim-draw::before, .a-link-anim-draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.a-link-anim-draw::before {
  top: 0;
  left: 0;
}
.a-link-anim-draw::after {
  bottom: 0;
  right: 0;
}
.a-link-anim-draw:hover::before, .a-link-anim-draw:hover::after {
  width: 100%;
  height: 100%;
}
.a-link-anim-draw:hover::before {
  border-top-color: #ddd;
  border-right-color: #ddd;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.a-link-anim-draw:hover::after {
  border-bottom-color: #ddd;
  border-left-color: #ddd;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.a-link, .news_post .comment-box .comment-user .comment-header .user-name, .sosmed-icon span a {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.a-link-white {
  color: #fff;
  cursor: pointer;
}

.a-link:hover, .news_post .comment-box .comment-user .comment-header .user-name:hover, .sosmed-icon span a:hover, .a-link-white:hover {
  color: #7bbae7;
}

.a-link-anim-bottom-border, body nav.navbar a:not(.nav-title) {
  position: relative;
  vertical-align: middle;
  transition: color 0.25s;
}
.a-link-anim-bottom-border::after, body nav.navbar a:not(.nav-title)::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
}
.a-link-anim-bottom-border:hover, body nav.navbar a:hover:not(.nav-title) {
  color: #7bbae7;
}
.a-link-anim-bottom-border:hover::after, body nav.navbar a:hover:not(.nav-title)::after {
  width: 100%;
  height: 100%;
  border-bottom-color: #7bbae7;
  transition: border-color 0s ease-out, width 0.25s ease-out, height 0.25s ease-out;
}

.top-to-bottom {
  width: 0;
  word-wrap: break-word;
}

body {
  font-family: "ConcertOne";
  font-size: 1.15em;
}
body nav.navbar.nav-scrolled {
  background-color: #000 !important;
}
body nav.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent !important;
  z-index: 1;
  height: 75px;
  transition-duration: 1s;
}
body nav.navbar a {
  color: #fff !important;
  font-weight: 800;
}
body nav.navbar a:hover {
  color: #7bbae7 !important;
}
body nav.navbar .fa-bars {
  color: #fff;
}
body .ksl-logo {
  height: 3.5em;
  width: 3.5em;
}
body #navbarSupportedContent {
  position: relative;
  background: #000;
  bottom: 6px;
  z-index: 1;
  padding: 15px;
}
body #navbarSupportedContent ul {
  position: absolute;
  right: 0;
}
body #navbarSupportedContent ul li a {
  color: #fff;
}
body footer {
  color: #fff;
}

@media only screen and (max-width: 992px) {
  body #navbarSupportedContent ul {
    position: static;
    right: unset;
    text-align: center;
  }
}
body {
  background-color: #fff;
}
body #app nav.navbar {
  position: static !important;
  background-color: #1a1919 !important;
}
body #app nav.navbar a {
  color: #fff !important;
  font-weight: 800;
}
body footer {
  color: #fff;
  background-color: #000;
}

.cover {
  height: 70vh;
  background-image: url("http://127.0.0.1:8000/storage/images/../dummy_images/dummy0.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cover .cover-bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 200px;
  text-shadow: 1px 1px 2px #000;
}
.cover .cover-bg .title {
  width: 100%;
  text-align: center;
  margin: 0;
}
.cover .cover-bg .img-container {
  text-align: center;
}
.cover .cover-bg .img-container img {
  width: 5%;
  box-shadow: 1px 1px 5px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.sosmed-icon {
  position: absolute;
  padding: 75px;
  font-size: 1.5em;
  text-align: center;
  z-index: 1;
}
.sosmed-icon span {
  display: block;
  box-shadow: 1px 1px 5px;
  background: #f3f3f3;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin: 10px;
}
.sosmed-icon span a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.sosmed-icon span a .fab {
  border-radius: 50%;
}

.sosmed-icon-start {
  position: absolute;
  top: unset;
}

.sosmed-icon-mid {
  position: fixed;
  top: 0;
}

.sosmed-icon-end {
  position: absolute;
  top: 212vh;
}

.news_post p {
  margin-bottom: 2.2rem;
}
.news_post .headline {
  font-size: 1.1em;
  color: #000;
}
.news_post .headline::first-letter {
  float: left;
  font-size: 300%;
  color: #7bbae7;
  padding: 10px 7px 5px 0;
}
.news_post .tags span {
  border: 2px solid #ccc;
  box-shadow: 1px 1px 5px #ccc;
  display: inline-block;
  border-radius: 5px;
  color: #555;
  cursor: pointer;
}
.news_post .tags span:hover {
  background-color: #7bbae7;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 1px 1px 5px #fff;
}
.news_post .comment-box textarea {
  font-size: 1em;
  border: 2px solid #ccc;
  border-bottom: none;
  padding-bottom: 50px;
}
.news_post .comment-box .comment-txt-bottom {
  background-color: #f6f8f9;
  border: 2px solid #ccc;
  bottom: 48px;
}
.news_post .comment-box .comment-txt-bottom p, .news_post .comment-box .comment-txt-bottom div {
  display: inline-block;
}
.news_post .comment-box .comment-txt-bottom .login-comment {
  font-size: 0.7em;
}
.news_post .comment-box .comment-txt-bottom .btn-comments {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(0%, -50%);
}
.news_post .comment-box .comment-user .comment-cont {
  border: 1px solid #ccc;
  margin: 35px 5px;
}
.news_post .comment-box .comment-user .comment-header {
  position: relative;
}
.news_post .comment-box .comment-user .comment-header .user-name {
  font-size: 1.2em;
  color: #007bff;
  font-weight: bold;
}
.news_post .comment-box .comment-user .comment-header .user-dp {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  right: 0;
}
.news_post .comment-box .comment-user .comment-header .user-dp img {
  border-radius: 5px;
}
.news_post .comment-box .comment-user .comment-content {
  font-size: 1em;
  text-align: justify;
}
.news_post .comment-box .comment-user .comment-foot {
  position: relative;
}
.news_post .comment-box .comment-user .comment-foot .btn-foot-comments {
  position: absolute;
  top: 0;
  right: 0;
}
.news_post .comment-box .comment-user .comment-foot .btn-foot-comments p {
  display: inline-block;
}
.news_post .comment-box .comment-user .comment-foot::after {
  content: ".";
  color: transparent;
}

/*# sourceMappingURL=news_post.css.map */
