body {
  background-color: #fff;
  #app {
    nav.navbar {
      position: static !important;
      background-color: #1a1919 !important;
      box-shadow: 1px 1px 5px;
      a {
        // color: #fff !important;
      }
    }
    .nav-news {

    }
  }
  footer {
    color: #fff;
    background-color: #000;
  }
}
