section.sidebar {
  color: #ffffff;
  background: linear-gradient(to right, #92628f, #694060);
}
section.sidebar ul {
  list-style: none;
  margin-bottom: 0;
}
section.sidebar ul li {
  border-bottom: 1px solid #ffffff;
}
section.sidebar ul li ul {
  padding: 0;
  display: none;
}
section.sidebar ul li ul li:first-child {
  border-top: 1px solid #ffffff;
}
section.sidebar ul li ul li {
  border-bottom: 1px solid #ffffff;
  padding-left: 35px;
}
section.sidebar a {
  color: #ffffff;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 1.1em;
}
section.sidebar a:hover span {
  text-decoration: underline;
}

@font-face {
  font-family: "ConcertOne";
  src: url("ConcertOne-Regular.ttf") format("truetype");
}
body {
  font-size: 0.8em;
}

.w-40px {
  width: 40px !important;
}

.fa-window-minimize, .fa-window-maximize {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.fa-window-minimize:hover, .fa-window-maximize:hover {
  color: #000;
}

.overflow-x-scroll-none {
  overflow-x: unset !important;
}

.font-concert-one {
  font-family: "ConcertOne";
}

.prime-col {
  color: #764a6e;
}

.second-col {
  color: #58848d;
}

.third-col {
  color: #79c0a0;
}

.v-bottom {
  vertical-align: bottom;
}

label {
  cursor: pointer;
}

#app nav.navbar-laravel {
  background: linear-gradient(to right, #33102b, #2d7c8d);
}
#app nav.navbar-laravel .container {
  max-width: none;
}
#app nav.navbar-laravel .container a.navbar-brand, #app nav.navbar-laravel .container a.nav-link {
  color: #fff;
}
#app nav.navbar-laravel .container a.navbar-brand {
  padding: 0;
}
#app nav.navbar-laravel .container a.navbar-brand img.img {
  height: 60px;
}

section.col-md-2 {
  flex: 0 0 13.667%;
  max-width: 0 0 13.667%;
}

main.col-md-10 {
  flex: 0 0 86.333%;
  max-width: 86.333%;
  padding: 0;
}
main.col-md-10 .content-head {
  font-weight: 700;
  font-size: 1.2em;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.cat-head-lbs .search-box-container, .sub-cat-head-lbs .search-box-container, .sub-sub-cat-head-lbs .search-box-container {
  padding: 0;
}
.cat-head-lbs .search-box-container button.search-box-btn, .sub-cat-head-lbs .search-box-container button.search-box-btn, .sub-sub-cat-head-lbs .search-box-container button.search-box-btn {
  width: 50px;
  position: absolute;
  right: -5px;
}
.cat-head-lbs .search-box-container input.search-box, .sub-cat-head-lbs .search-box-container input.search-box, .sub-sub-cat-head-lbs .search-box-container input.search-box {
  position: absolute;
  width: 100%;
  right: unset;
  padding-right: 57px;
}

.search-box-container button.search-box-btn {
  width: 50px;
}
.search-box-container input.search-box {
  position: absolute;
  width: 200px;
  right: -50px;
  padding-right: 60px;
}

.card-body-table {
  overflow-x: scroll;
}
.card-body-table table.table button {
  width: 100px;
  margin: 5px;
}
.card-body-table .formModal label {
  font-weight: bold;
}

.lessmore-btn {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}

.lessmore-btn:hover {
  text-decoration: underline;
  color: #000;
}

@media screen and (max-width: 938px) {
  section.col-md-2 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  main.col-md-10 {
    flex: 0 0 85%;
    min-width: 85%;
  }
  main.col-md-10 .container {
    max-width: unset;
  }
}
@media screen and (max-width: 800px) {
  section.col-md-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  main.col-md-10 {
    flex: 0 0 75%;
    min-width: 75%;
  }
  main.col-md-10 .container {
    max-width: unset;
  }

  section.sidebar ul li ul li {
    padding-left: 0;
  }
}
@media screen and (max-width: 470px) {
  section {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 330px) {
  section {
    font-size: 0.6em;
  }
}
.nthnyali {
  border: 1px solid #ddd;
  border-bottom-color: #fff !important;
  border-top: 3px solid #694060;
}

.profile_information_container .card-body-table {
  overflow-x: hidden;
}
.profile_information_container .card-body-table nav {
  z-index: 1;
  position: relative;
  top: 1px;
}
.profile_information_container .card-body-table nav ul {
  list-style: none;
  margin: 0;
}
.profile_information_container .card-body-table nav ul li {
  display: inline-block;
  font-size: 1.2em;
  padding: 7px 10px;
  font-weight: 700;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}
.profile_information_container .card-body-table nav ul li:hover {
  color: #000;
}
.profile_information_container .card-body-table .container {
  max-width: unset;
  padding: 25px;
  border: 1px solid #ddd;
}
.profile_information_container .card-body-table .container label {
  font-weight: bold;
}

.pages .card #el-en {
  display: none;
}
.pages .card-body-table {
  overflow: hidden;
}
.pages .lang-div {
  padding-left: 1rem;
}
.pages .lang-div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pages .lang-div ul li {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  background-color: rgba(243, 243, 243, 0.5);
  color: #333;
}
.pages .lang-div ul li:not(.active):hover {
  background-color: #f3f3f3;
  text-decoration: underline;
}
.pages .lang-div ul li.active {
  background-color: #8a5c86;
  color: #f3f3f3;
}
.pages label {
  font-weight: 600;
  font-size: 1.2em;
}
.pages input, .pages textarea {
  color: #333 !important;
}

.posts .sel-cat {
  display: none;
}
.posts label {
  font-weight: 800;
}
.posts .modal-full {
  min-width: 100%;
  margin: 0;
}
.posts .modal-full .modal-content {
  min-height: 100vh;
}
.posts .card {
  min-height: 25vh;
}
.posts input[disabled] {
  cursor: not-allowed;
}
.posts #view-img {
  width: 500px;
}
.posts .div-search {
  top: 5px;
  left: 230px;
}
.posts .div-search .search-box-container {
  margin: 15px 0;
}
.posts .div-search .search-box-container input.search-box {
  position: absolute;
  right: 0;
  padding-right: 0;
}
.posts .div-search .search-box-container button.search-box-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.posts .tabelnya #posts-list .td-action button {
  width: 40px;
  margin: 0;
}
.posts #posts-cat-result, .posts #posts-sub-cat-result, .posts #posts-sub-sub-cat-result, .posts #posts-tags-result {
  background-color: #faf4fb;
  border: 1px solid #ccc;
}
.posts #posts-cat-result p, .posts #posts-sub-cat-result p, .posts #posts-sub-sub-cat-result p, .posts #posts-tags-result p {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
}
.posts #posts-cat-result p:hover, .posts #posts-sub-cat-result p:hover, .posts #posts-sub-sub-cat-result p:hover, .posts #posts-tags-result p:hover {
  font-weight: 800;
  background-color: #333;
  color: #eee;
}
.posts #posts-cat-result p:last-child, .posts #posts-sub-cat-result p:last-child, .posts #posts-sub-sub-cat-result p:last-child, .posts #posts-tags-result p:last-child {
  border-bottom: none;
}
.posts #posts-tags-result-selected {
  margin: 8px 0 20px;
}
.posts #posts-tags-result-selected span {
  cursor: pointer;
}
.posts #posts-tags-result-selected span:hover {
  background-color: #c22222;
}
.posts .posts-tags-result {
  background-color: #333;
  padding: 7px 17px;
  margin: 5px;
  border-radius: 5px;
  font-weight: 700;
  color: #eee;
}
.posts #formModal {
  padding-right: 0 !important;
}

/*# sourceMappingURL=ksl.style.css.map */
